<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/index.css" />
		<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script defer src="/js/index.js"></script>
	</head>
	<div class="main-container">
		<div class="img-container">
			<img src="https://bookoraclecoverimages.s3.amazonaws.com/defaultNoImgAvailable.png" class="bot-img"/>
		</div>
		<div class="page-desciption">
			Description here
		</div>
		<div class="search-container">
			<!-- TODO instead of form, let's do a simple ajax get in js on button click that gives a little load anim and no refresh -->
			<!-- this may not even need to be ejs that way -->
			<input class="input-box" type="text" placeholder="Describe what you want to read..." name="search">
			<div class="button-container">
				<button class="ask-button">Ask</button>
			</div>
		</div>
		<div class="all-results-container">
			Results container
		</div>
	</div>
</html>
