<!DOCTYPE html>
<html>
	<div class="main-container">
		<div class="bot-container">
			<img src="https://bookoraclecoverimages.s3.amazonaws.com/defaultNoImgAvailable.png" class="bot-img" />
		</div>
		<div>Description here</div>
		<div>
			<form action="/" method="GET">
				<div>
					<input
						type="text"
						placeholder="Describe what you want to read..."
						name="search"
						value="<%= originalQuery %>"
					>
				</div>
				<div>
					<button type="submit">Go</button>
				</div>
				<div><%= message %></div>
				<div>
					Results container
					<% if (dataArr != null) { %>
						<% for (var infoObj of dataArr) { %>
							<div><%= JSON.stringify(infoObj.title_data) %></div>
							<br>
						<% } %>
					<% } %>
				</div>
			</form>
		</div>
	</div>
</html>
