<!DOCTYPE html>
<html>
	<!-- html layout of the book elem items, will implement in hacky longhand js -->
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" href="C:Users/kyler/pyguy/bookoracle/final_app0/public/stylesheets/index.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet"/>
	</head>
	<body>
		<div class="main-container">
			<div class="bot-container">
				<!-- <img src="https://bookoraclecoverimages.s3.amazonaws.com/defaultNoImgAvailable.png" class="bot-img"/> -->
				<img class="bot-img" src="C:/users/kyler/pyguy/bookoracle/final_app0/public/imgs/bookbot.png"/>
			</div>
			<div class="page-description-container">
				<div class="page-description">Hi, I'm the BookBot, an artificial intelligence that has read about thousands of books. I'll recommend a few of my favorites if you ask.</div>
			</div>
			<div class="search-container">
				<input class="input-box" type="text" placeholder="Describe what you'd like to read..." name="search" autocomplete="off">
			</div>
			<div class="ask-button-container">
				<button class="ask-button">Ask</button>
			</div>
			<div class="load-gif-container">
				<img class="load-gif" src="C:/Users/kyler/pyguy/bookoracle/final_app0/public/imgs/thinking.gif">
			</div>
			<!-- shouldn't be rendered in js if there isn't an error -->
			<div class="main-message-container">
				<div class="main-message">I am a longer than what would be error message, blah blah blah, too long of a query, please try again.</div> 
			</div>
		<div class="all-results-container">
			<div class="result-container">
				<div class="data-left">
					<div class="img-container">
						<img src="https://bookoraclecoverimages.s3.amazonaws.com/defaultNoImgAvailable.png" class="cover-img"/>
					</div>
				</div>
				<div class="data-right">
					<!-- <div class="book-title">title and then some huzzah how about that web devers yeah i am a css expert ha ha ha w3schools motherfucker</div> -->
					<div class="book-title">Paul</div>
					<!-- <div class="book-author">a long winded author name that occurs because idk some people have long names i guess just stress-testing man more it is if that's what the people want</div> -->
					<div class="middle-data">
						<div class="book-author">Peyton Manning</div>
						<!-- <div class="book-description">long winded description to test the line height thing with the ellipsis and idk if it will work but i don't think it will so im testing it now with a long description to check the css blah blah blah: supercalifragilisticexpialodocious, asfsdfhsdaljfsdlfasldflasdalhsadfasdfasdfasdfsadsdfasdfasdfasdfasdfasdfasdfasdfasdfasdf that's a long string of chars let's see the overflow now, need to get the ellipsis thing working here</div> -->
						<div class="book-description">it</div>
						<div class="fade-box"></div>
					</div>
					<div class="amz-container">
						<button class="amz-button">
							<a class="amz-link" href="https://www.urmom.com" target="_blank">View on Amazon</a>
						</button>
					</div>
				</div>
			</div>
			<div class="result-container">
				<div class="data-left">
					<div class="img-container">
						<img src="https://bookoraclecoverimages.s3.amazonaws.com/defaultNoImgAvailable.png" class="cover-img"/>
					</div>
				</div>
				<div class="data-right">
					<div class="book-title">title and then some huzzah how about that web devers yeah i am a css expert ha ha ha w3schools motherfucker</div> 
					<!-- <div class="book-title">Paul</div> -->
					<div class="middle-data">
						<div class="book-author">a long winded author name that occurs because idk some people have long names i guess just stress-testing man more it is if that's what the people want</div>
						<!-- <div class="book-author">Peyton Manning</div>  -->
						<div class="book-description">long winded description to test the line height thing with the ellipsis and idk if it will work but i don't think it will so im testing it now with a long description to check the css blah blah blah: supercalifragilisticexpialodocious, asfsdfhsdaljfsdlfasldflasdalhsadfasdfasdfasdfsadsdfasdfasdfasdfasdfasdfasdfasdfasdfasdf that's a long string of chars let's see the overflow now, need to get the ellipsis thing working here and it keeps going and going and going because this is taking so long why of why is it taking so long? i guess it'll be better next time, because i'll know how to think about responsive design - maybe? probably not, what do i know, I might be getting some where, or somewhere? yes, indeed, I'm not going to be here for much longer, just passing through really</div> 
						<div class="fade-box"></div>
					</div>
					<!-- <div class="book-description">it</div> -->
					<div class="amz-container">
						<button class="amz-button">
							<a class="amz-link" href="https://www.urmom.com" target="_blank">View on Amazon</a>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="contact">Contact us email@domain.com</div>
	</body>
</html>
