:root {
	--white-0: #f2f2f2;
	--white-1: #d9d9d9;
	--black-0: #0d0d0d;
	--black-1: #222222; 
	--black-2: #333333;
	--blue-0: #000033;
	--blue-1: #00004d;
	--blue-2: #000099;
	--blue-3: #1414ff;
	--blue-4: #00a8f3;
	--blue-5: #009de6;
	--blue-6: #008bcc;
	font-family: "Monterserrat", sans-serif;
}

html {
	height: 100% !important;
	font-size: 100%;
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: #000000;
	/* background: linear-gradient(to top, #262626, #000000) fixed; */
}

.main-container, .search-container, .main-message-container, .all-results-container {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex-direction: column;
}

.bot-container {
	margin-top: 5%;
}

.bot-img {
	width: 15rem;
	height: auto;
}

.page-description {
	text-align: center;
	/* width: 35rem; */
	width: 45%;
	margin-top: 1%;
	margin-bottom: 2%;
	color: var(--white-0);
	font-size: 1.25rem;
}

.input-box {
	padding-right: 0.25rem;
	padding-left: 0.25rem;
	width: 35rem;
	height: 2.5rem;
	font-size: 1.25rem;
	margin-bottom: 1%;
	border-radius: 0.75rem;
	border: 0.25rem solid #222222;
	outline: none;
	background-color: var(--white-0);
}

.input-box:focus {
	border: 0.25rem solid var(--blue-4);
}

.ask-button {
	width: 5rem;
	height: 3rem;
	border-radius: 0.75rem;
	outline: none;
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--black-0);
	border: 0.25rem solid var(--blue-4);
	background-color: var(--blue-4);
	cursor: pointer;
}

.ask-button:hover {
	border: 0.25rem solid var(--blue-5);
	background-color: var(--blue-5);
}

.all-results-container {
	margin-top: 1%;
	margin-bottom: 1%;
}

.load-text {
	margin-top: 2%;
	color: var(--white-0);
	font-size: 2.5rem;
}

.load-gif {
	margin-top: 2%;
	margin-right: 13%;
	width: 40rem;
	background-color: transparent;
}

.return-message {
	background-color: green;
}

.result-container {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex-direction: row;
	height: 18rem;
	width: 45rem;
	background-color: var(--white-0);
	margin-top: 3%;
	border-radius: 0.75rem;
	border: 0.1rem solid var(--white-0);
}

.data-left {
	height: 96%;
	width: 31%;
	margin-right: 1%;
}

.data-right {
	height: 96%;
	width: 66%;
	margin-right: 1%;
}

.img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow: hidden;
	margin-top: 2%;
}

.cover-img {
	height: 95%;
	width: auto;
}

.book-title, .book-author, .book-description, .amz-container {
	padding: 0.2rem 0.25rem 0.2rem 0.25rem;
	overflow: hidden;

	/* use this for shortening long stuff (single line) to ellipsis 
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	*/
}

.book-title, .book-author {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.book-title {
	margin-top: 1.302%;
	max-height: 4rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--dark-0);
	border-bottom: 0.1rem solid var(--white-1);
}

.book-author {
	margin-top: 1.302%;
	font-size: 1.25rem;
	color: var(--black-1);
}

.book-description {
	margin-top: 1.302%;
	font-size: 1rem;
	max-height: 6.92rem;  /* this and -webkit-line-clamp are sensitive to each other */
	word-wrap: break-word; 
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

.amz-container {
	border-top: 0.1rem solid var(--white-1);
	margin-top: 2%;
	padding-top: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15.625%;
}

.amz-button {
	border-radius: 0.15rem;
	border: 0.25rem solid var(--blue-5);
	outline: none;
	cursor: pointer;
	height: 2.5rem;
	width: 5rem;
	overflow: hidden;
	background-color: var(--blue-5);
}

.amz-button:hover {
	background-color: var(--blue-6);
	border: 0.25rem solid var(--blue-6);
}

.amz-link {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: var(--white-0);
}

/* TODO for each elem just drop it to whatever */
@media screen and (max-width: 768px) {
	body {
		background-color: red;
	}
	
	.bot-img {
		width: 12.5rem;
		height: auto;
	}

}

@media screen and (max-width: 600px) {
	body {
		background-color: purple;
	}

	.bot-img {
		width: 12rem;
		height: auto;
	}

}

@media screen and (max-width: 480px) {
	body {
		background-color: green;
	}

	.bot-img {
		width: 11.5rem;
		height: auto;
	}

}

@media screen and (max-width: 320px) {
	body {
		background-color: yellow;
	}

	.bot-img {
		width: 10.5rem;
		height: auto;
	}

}

@media screen and (max-width: 240px) {
	body {
		background-color: blue;
	}

	.bot-img {
		width: 9.5rem;
		height: auto;
	}
}



