html {
	height: 100% !important;
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: cyan;
	height: 100% !important;
}

.main-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex-direction: column;
}
