:root {
	--white-0: #f2f2f2;
	--white-1: #d9d9d9;
	--black-0: #000000;
	--blue-0: #00a8f3;
	--blue-1: #009de6;
	font-family: "Monterserrat", sans-serif;
}

html {
	height: 100% !important;
	font-size: 100%;
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: var(--black-0);
	/* background: linear-gradient(to top, #262626, #000000) fixed; */
}

.contact {
	font-size: 1rem;
	color: var(--white-0);
	margin-top: 2%;
	margin-bottom: 2%;
}

.main-container, .search-container, .main-message-container, .all-results-container {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex-direction: column;
}

.bot-container {
	margin-top: 5%;
}

.bot-img {
	width: 15rem;
	height: auto;
}

.page-description-container {
	margin-top: 1%;
	margin-bottom: 2%;
}

.page-description {
	text-align: center;
	width: 35rem;
	color: var(--white-0);
	font-size: 1.25rem;
}

.search-container {
	margin-bottom: 2%;
}

.input-box {
	padding-right: 0.25rem;
	padding-left: 0.25rem;
	width: 35rem;
	height: 2.5rem;
	font-size: 1.25rem;
	border-radius: 0.75rem;
	border: 0.25rem solid var(--black-0);
	outline: none;
	background-color: var(--white-0);
}

.input-box:focus {
	border: 0.25rem solid var(--blue-0);
}

.ask-button-container {
	margin-bottom: 2%;
}

.ask-button {
	width: 5rem;
	height: 3rem;
	border-radius: 0.75rem;
	outline: none;
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--black-0);
	border: 0.25rem solid var(--blue-0);
	background-color: var(--blue-0);
	cursor: pointer;
}

.ask-button:hover {
	border: 0.25rem solid var(--blue-1);
	background-color: var(--blue-1);
}

.main-message-container {
	margin-bottom: 1%;
}

.main-message {
	text-align: center;
	width: 35rem;
	color: var(--white-0);
	font-size: 1.25rem;
}

.all-results-container {
	margin-top: 1%;
	margin-bottom: 1%;
}

.load-gif-container {
	margin-bottom: 2%;
}

.load-gif {
	width: 35rem;
	height: auto;
}

.result-container {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex-direction: row;
	width: 45rem;
	height: 22.5rem;
	background-color: var(--white-0);
	margin-top: 3%;
	border-radius: 0.75rem;
}

.data-left {
	height: 96%;
	width: 31%;
	margin-right: 1%;
}

.data-right {
	height: 96%;
	width: 66%;
	margin-right: 1%;
}

.img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow: hidden;
	margin-top: 2%;
}

.cover-img {
	height: 95%;
	width: auto;
}

.book-title, .book-author, .book-description, .amz-container {
	/* padding: 0.2rem 0.25rem 0.2rem 0.25rem; */
	padding: 1% 1.2% 1% 1.2%;
	overflow: hidden;

	/* use this for shortening long stuff (single line) to ellipsis 
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	*/
}

.book-title, .book-author {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	*/
}

.book-title {
	margin-top: 1%;
	height: 10%;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--dark-0);
	border-bottom: 0.1rem solid var(--white-1);
}

.middle-data {
	height: 65%;
	position: relative;
}

.book-author {
	height: 10%;
	margin-top: 1%;
	font-size: 1.25rem;
	color: var(--black-0);
}

.book-description {
	margin-top: 1%;
	font-size: 1rem;
	height: 78%; 
	word-wrap: break-word; 
	position: absolute;
	width: 100%;
	/* display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	*/
}

.fade-box {
	position: absolute;
	height: 20%;
	width: 100%;
	text-align: center;
	bottom: 0;
	margin: 0;
	background-image: linear-gradient(to bottom, transparent, var(--white-0));
}

.amz-container {
	border-top: 0.1rem solid var(--white-1);
	margin-top: 2%;
	padding-top: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15.625%;
}

.amz-button {
	border-radius: 0.15rem;
	border: 0.25rem solid var(--blue-0);
	outline: none;
	cursor: pointer;
	/* height: 2.5rem; */
	height: 100%;
	/* width: 15rem; */
	width: 35%;
	overflow: hidden;
	background-color: var(--blue-0);
}

.amz-button:hover {
	background-color: var(--blue-1);
	border: 0.25rem solid var(--blue-1);
}

.amz-link {
	display: flex;
	justify-content: center;
	align-items: center;
	/* font-size: 1.25rem; */
	font-size: 1rem;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: var(--white-0);
}

/* through author, see sz.txt, will tweak once everything is in here */
@media screen and (max-width: 768px) {
	body {
		background-color: red;
	}
	
	.bot-img {
		width: 12.5rem;
		height: auto;
	}

	.page-description {
		width: 35rem;
		font-size: 1.25rem;
	}

	.input-box {
		padding-right: 0.25rem;
		padding-left: 0.25rem;
		width: 35rem;
		height: 2.5rem;
		font-size: 1.25rem;
		border-radius: 0.75rem;
		border: 0.25rem solid var(--black-0);
	}

	.ask-button {
		width: 5rem; /* will be input box width / 7 */
		height: 3rem;  /* will be 0.6 * ask-button width */
		border-radius: 0.75rem;
		font-size: 1.25rem;
		border: 0.25rem solid var(--blue-0);
	}

	.main-message {
		width: 35rem;
		font-size: 1.25rem;
	}

	.load-gif {
		width: 35rem;
		height: auto;
	}

	.result-container {
		height: 17.5rem;
		width: 35rem;
		border-radius: 0.75rem;
	}

	.book-title {
		font-size: 1.25rem;
		border-bottom: 0.1rem solid var(--white-1);
	}
	
	.book-author {
		font-size: 1rem;
	}
}

@media screen and (max-width: 600px) {
	body {
		background-color: purple;
	}

	.bot-img {
		width: 12rem;
		height: auto;
	}

	.page-description {
		width: 30rem;
		font-size: 1.25rem;
	}

	.input-box {
		padding-right: 0.25rem;
		padding-left: 0.25rem;
		width: 29rem;
		height: 2.07rem;
		font-size: 1.25rem;
		border-radius: 0.75rem;
		border: 0.25rem solid var(--black-0);
	}

	.main-message {
		width: 30rem;
		font-size: 1.25rem;
	}

	.ask-button {
		width: 4.14rem; 
		height: 2.48rem;  
		border-radius: 0.75rem;
		font-size: 1.25rem;
		border: 0.25rem solid var(--blue-0);
	}

	.load-gif {
		width: 29rem;
		height: auto;
	}

	.result-container {
		height: 14.75rem;
		width: 29.5rem;
		border-radius: 0.75rem;
	}

	.book-title {
		font-size: 1rem;
		border-bottom: 0.1rem solid var(--white-1);
	}

	.book-author {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 480px) {
	body {
		background-color: green;
	}

	.bot-img {
		width: 11.5rem;
		height: auto;
	}

	.page-description {
		width: 25rem;
		font-size: 1rem;
	}

	.input-box {
		padding-right: 0.2rem;
		padding-left: 0.2rem;
		width: 24rem;
		height: 1.71rem;
		font-size: 1rem;
		border-radius: 0.6rem;
		border: 0.2rem solid var(--black-0);
	}
	
	.main-message {
		width: 25rem;
		font-size: 1rem;
	}

	.ask-button {
		width: 3.43rem; 
		height: 2.09rem;  
		border-radius: 0.6rem;
		font-size: 1rem;
		border: 0.2rem solid var(--blue-0);
	}

	.load-gif {
		width: 24rem;
		height: auto;
	}

	.result-container {
		height: 12.5rem;
		width: 25rem;
		border-radius: 0.6rem;
	}

	.book-title {
		font-size: 1rem;
		border-bottom: 0.1rem solid var(--white-1);
	}

	.book-author {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 410px) {
	body {
		background-color: teal;
	}

	.bot-img {
		width: 11.5rem;
		height: auto;
	}

	.page-description {
		width: 21rem;
		font-size: 1rem;
	}

	.input-box {
		padding-right: 0.2rem;
		padding-left: 0.2rem;
		width: 19rem;
		height: 1.36rem;
		font-size: 1rem;
		border-radius: 0.5rem;
		border: 0.2rem solid var(--black-0);
	}

	.main-message {
		width: 21rem;
		font-size: 1rem;
	}

	.ask-button {
		width: 2.71rem; 
		height: 1.63rem;  
		border-radius: 0.5rem;
		font-size: 0.9rem;
		border: 0.2rem solid var(--blue-0);
	}

	.load-gif {
		width: 19rem;
		height: auto;
	}

	.result-container {
		height: 9.75125rem;
		width: 19.75rem;
		border-radius: 0.5rem;
	}

	.book-title {
		font-size: 0.9rem;
		border-bottom: 0.1rem solid var(--white-1);
	}

	.book-author {
		font-size: 0.7rem;
		height: 12%;
	}
}

@media screen and (max-width: 320px) {
	body {
		background-color: orange;
	}

	.bot-img {
		width: 10.5rem;
		height: auto;
	}

	.page-description {
		width: 15rem;
		font-size: 0.8rem;
	}

	.input-box {
		padding-right: 0.16rem;
		padding-left: 0.16rem;
		width: 14rem;
		height: 1rem;
		font-size: 0.8rem;
		border-radius: 0.45rem;
		border: 0.16rem solid var(--black-0);
	}

	.main-message {
		width: 15rem;
		font-size: 0.8rem;
	}

	.ask-button {
		width: 2.75rem; 
		height: 1.5rem;  
		border-radius: 0.45rem;
		font-size: 0.8rem;
		border: 0.16rem solid var(--blue-0);
	}

	.load-gif {
		width: 14rem;
		height: auto;
	}
	
	.result-container {
		height: 7.25rem;
		width: 14.5rem;
		border-radius: 0.45rem;
	}

	.book-title {
		font-size: 0.85rem;
		border-bottom: 0.1rem solid var(--white-1);
		height: 15%;
	}

	.book-author {
		font-size: 0.75rem;
		height: 17%;
	}
}

@media screen and (max-width: 240px) {
	body {
		background-color: blue;
	}

	.bot-img {
		width: 9.5rem;
		height: auto;
	}

	.page-description {
		width: 14rem;
		font-size: 0.7rem;
	}

	.input-box {
		padding-right: 0.14rem;
		padding-left: 0.14rem;
		width: 13rem;
		height: 0.93rem;
		font-size: 0.7rem;
		border-radius: 0.4rem;
		border: 0.14rem solid var(--black-0);
	}

	.main-message {
		width: 14rem;
		font-size: 0.7rem;
	}

	.ask-button {
		width: 2.75rem; 
		height: 1.5rem;  
		border-radius: 0.4rem;
		font-size: 0.7rem;
		border: 0.14rem solid var(--blue-0);
	}

	.load-gif {
		width: 13rem;
		height: auto;
	}

	.result-container {
		height: 6.5rem;
		width: 13rem;
		border-radius: 0.4rem;
	}

	.book-title {
		font-size: 0.7rem;
		border-bottom: 0.1rem solid var(--white-1);
	}

	.book-author {
		font-size: 0.5rem;
	}
}


